
<div class="divider">

<% if current_user %>
  <button type="button" class="btn btn-warning" onclick="window.location.href='/users/<%= current_user.id %>/'">Viaggio</button>
<% else %>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
<% end %>

<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <h4>Welcome <%= current_user.first_name %></h4> </a>
    <ul class="dropdown-menu">

      <li role="separator" class="divider"></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </li>
</ul>

</div class="divider">

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_location_preference">
        <h1>Location Preferences</h1>
        <%= form_tag "/locations/#{@location.id}", method: :patch do  %>
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, class: "form-control", value: @location.name %>
          </div>
           <%= submit_tag "Update Location Preferences", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  
</section>

<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="location_budget">
        <h1>Travel Budget</h1>
        <%= form_tag "/location_preferences/#{@location_preferences.id}", method: :patch do  %>
          <div class="form-group">
            <%= label_tag :min %>
            <%= text_field_tag :min_budget, nil, class: "form-control", value: @location_preferences.min_budget %>
          </div>
          <div class="form-group">
            <%= label_tag :max %>
            <%= text_field_tag :max_budget, nil, class: "form-control", value: @location_preferences.max_budget %>
          </div>
          <%= submit_tag "Update Budget", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="user_availability">
        <h1>Travel Availability</h1>
        <%= form_tag "/availabilities/#{current_user.id}", method: :patch do  %>
          <div class="form-group">
            <%= label_tag :start_date %>
            <%= text_field_tag :start_date, nil, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :end_date %>
            <%= text_field_tag :end_date, nil, class: "form-control" %>
          </div>
          <%= submit_tag "Update Availability", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<br>
<section>
  
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
          <div class="btn-group" aria-label="...">
            <%= link_to "Delete Trip", "/locations/#{@location.id}", method: :delete, class: "btn btn-danger" %></button>
          </div>
      </div>
    </div>
  </div>
</section>